/* селектор {
    свойство: значение ;
    свойство: значение ;
    свойство: значение ;
} */

body{
    background-color: khaki;
}

h1, h2, h3{
    text-align: center;
}

h2 {
    color: red;
    /* text-align: center; */
    font-weight: 800;
    font-style: italic;
    /* text-decoration: underline; */
    text-decoration: line-through;
    font-size: 30px;
}

.text {
    font-weight: 900;
    text-transform: uppercase;
}

.chapter{
    color:blue;
}

#begin{
    color: orange;
    font-weight: bold;
}

.box {
    display: inline-block;
    vertical-align: top;
    box-sizing:border-box;
    width: 300px;
    height: 300px;
    background-color: green; /* цвет блока */
    padding: 20px; /* размер отступа от границы */
    border-width: 3px; /* размер границы */
    border-style:solid;  /* стиль границы */
    border-color: black; /* цвет */ 
    
    /* border: 3px dashed black; */

    margin: 20px;
    z-index: 5;
    
    
}

.pink {
    color:pink;
}

/* Блочные  */
/* строчные */
/* строчно-блочные */

a {
    padding: 20px ;
    margin: 20px;
}

img {
    display: block;
    width: 500px;
    margin: 0 auto;
}

nav {
    /* static, relative,absolute,fixed, inherit */
    position:inherit;
    right: 130px;
    bottom: px;
    /* bottom, top, right, left */
}

.red {
  
 background-color: red;
 width: 50%;
 
}

.example {
    position: relative;
}

